@charset "utf-8";

/* CSS Resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* STYLES */

@font-face {
    font-family: 'Mid Mid Sun Sun';
    src: url('../assets/fonts/MidMidSunSun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-primary: #6c112e;
    --color-secondary: #d4af37;
    --color-tertiary: #78866b;
    --color-gray-100: hsl(225deg, 25%, 95%);
    --color-gray-200: hsl(225deg, 16%, 90%);
    --color-gray-300: hsl(225deg, 8%, 80%);
    --color-gray-400: hsl(225deg, 8%, 70%);
    --color-gray-500: hsl(225deg, 7%, 60%);
    --color-gray-600: hsl(225deg, 15%, 50%);
    --color-gray-700: hsl(225deg, 12%, 40%);
    --color-gray-900: hsl(225deg, 25%, 20%);
    --color-gray-1000: hsl(225deg, 15%, 15%);

    --font-main: 'Mid Mid Sun Sun', sans-serif;
    --font-detail: 'Imperial Script', cursive;
}

body {
    color: var(--color-gray-100);
}

.background {
    position: relative;
    width: 100%;
    min-height: 100%;
    background:
        linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.75)),
        url('../assets/images/restaurant-1.jpg') no-repeat center / cover;
}

.app {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    padding-block: 16px;
    font-family: var(--font-main);

    & header nav ul {
        display: flex;
        list-style: none;
        padding: 0;
    }
}

.header {
    display: flex;
    align-items: flex-end;
    border-block-end: 1px solid var(--color-gray-100);
    padding-block-end: 16px;

    & nav {
        margin-inline-start: auto;
        padding-block-end: 16px;
        & ul {
            display: flex;
            gap: 8px;
        }
    }
}

.logo {
    min-width: fit-content;
    user-select: none;
    font-size: 2.5rem;

    & span {
        line-height: 1;
    }
}

.content {
    padding-block: 32px;
    flex: 1;

    h2 {
        line-height: 1;
        font-size: 1.75rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.info-section {
    display: flex;
    gap: 32px;

    .details {
        p {
            text-align: justify;
        }

        h2 {
            margin-block-end: 16px;
        }
    }

    .image {
        border-radius: 12px;
        overflow: hidden;
        max-width: 380px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    &:not(:last-of-type) {
        margin-block-end: 32px;
    }
}

.footer {
    margin-block-start: auto;
    & > h3,
    & > p {
        text-align: center;
    }

    ul,
    ol {
        list-style: none;
        padding: 0;
    }

    .info {
        & > ul {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            & > li {
                flex: 1;
            }
        }
    }
}

.styled-title {
    & span {
        display: inline-block;

        &::first-letter {
            font-family: var(--font-detail);
            font-weight: 400;
            font-size: 2.5em;
        }
    }
}

.max-width {
    max-width: 1200px;
    margin: auto;
    padding-inline: 32px;
}

button {
    color: inherit;
    cursor: pointer;
    padding: 6px 24px;
    background-color: transparent;
    border: 1px solid var(--color-gray-100);
    border-radius: 8px;
    font-weight: bold;

    transition:
        color 450ms ease-out,
        background-color 450ms ease-out;

    &:not(:disabled):hover {
        background-color: rgb(255 255 255 / 0.1);
        transition:
            color 150ms ease-out,
            background-color 150ms ease-out;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &.active {
        background-color: var(--color-gray-200);
        color: var(--color-gray-900);
    }
}

a {
    color: var(--color-gray-100);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
