.info-section {
    display: flex;
    gap: 32px;

    &:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    &:not(:last-of-type) {
        margin-block-end: 32px;
    }
}

.details {
    p {
        text-align: justify;
    }

    h2 {
        margin-block-end: 16px;
    }
}

.image {
    border-radius: 12px;
    overflow: hidden;
    max-width: 380px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
